<aside class="aside left">

    <section class="sect">
        <h3>Entradas recientes</h3>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                IA en colombia
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                PostgreSQL: introducción
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                ETL
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                Redireccionamiento IP
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                Modelo OSI
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
    </section>

    <section class="sect">
        <h3>Categorías</h3>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Programación</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Redes</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Base de datos</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Estructuras de datos</a>
        </div>
    </section>

    <section class="sect">
        <h3>Etiquetas</h3>
        <div class="div three" routerLinkActive="active">
            <a class="p three">HTML</a>
            <a class="p three">CSS</a>
            <a class="p three">Javascript</a>
            <a class="p three">Typescript</a>
            <a class="p three">Java</a>
            <a class="p three">Angular</a>
            <a class="p three">NodeJs</a>
            <a class="p three">MySQL</a>
            <a class="p three">NestJs</a>
            <a class="p three">Express</a>
        </div>
    </section>

    <section class="sect">
        <h3>Comentarios recientes</h3>
        <div class="div three" routerLinkActive="active">
            <span class="p three">Juan en </span>
            <a class="p three">PostgreSQL: introducción</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <span class="p three">Diana en </span>
            <a class="p three">Redireccionamiento IP</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <span class="p three">Marcos en </span>
            <a class="p three">ETL</a>
        </div>
    </section>

</aside>