<aside class="aside left">

    <section class="sect">
        <h3>Páginas</h3>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Home</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Beginner</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Subscription</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">About</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Contact</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Login</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">P&R</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Register</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Resource</a>
        </div>
    </section>

</aside>