<aside class="aside left">

    <section class="sect">
        <h3>Entradas recientes</h3>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                IA en colombia
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                PostgreSQL: introducción
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                ETL
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                Redireccionamiento IP
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">
                Modelo OSI
                <span class="date">6 julio, 2021</span>
            </a>
        </div>
    </section>

    <section class="sect">
        <h3>Categorías</h3>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Programación</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Redes</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Base de datos</a>
        </div>
        <div class="div three" routerLinkActive="active">
            <a class="p three">Estructuras de datos</a>
        </div>
    </section>

</aside>