
.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

section{
    padding: 7rem 5%;
}

/* ---------------------------------------------------------------------------------------------------- */

.search {
    padding: 0;
    width: 100%;
}

.book-form {
    padding: 0 0 5rem 2rem;
    margin: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.book-form .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: inherit;
    margin: 0;
}

.book-form .flex .inputBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
}

.book-form .flex .inputBox .search-group {
    width: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.book-form .flex .inputBox input {
    width: inherit;
    padding: 1.2rem 1.4rem;
    font-size: 1.4rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 2.5rem;
    border: var(--border);
}

.book-form .flex .inputBox input:focus {
    background: var(--light-black);
    color: var(--white);
}

.book-form .flex .inputBox input:focus::placeholder {
    background: var(--light-black);
    color: var(--light-white);
}

.book-form .flex .search-group a {
    width: 5rem;
    font-size: 2.5rem;
    background: var(--footer-color);
    border: var(--border);
    padding: 1rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.book-form .flex .search-group a:hover {
    background: var(--main-color);
}

.book-form .flex .search-group a i {
    color: var(--white);
}

.btn-group {
    margin-left: 5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* ---------------------------------------------------------------------------------------------------- */

.cite {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.text-title{
    font-size: 15rem;
    transform: scale(1.5);
}

.text {
    font-size: 4rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
    color: var(--light-black);
    font-weight: 500;
}

.autor {
    font-size: 2rem;
    color: var(--light-black);
}

/* ---------------------------------------------------------------------------------------------------- */

.packages .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.packages .box-container .box{
    width: 40rem;
    margin: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}

.packages .box-container .background-selected{
    border: .3rem solid var(--main-color);
    box-shadow: var(--box-selected);
}

.packages .box-container .box:hover{
    transform: scale(1.01);
}

.packages .box-container .box .image{
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--light-black);
}

.packages .box-container .box .image i{
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packages .box-container .box .content{
    padding: 2rem;
    text-align: left;
}

.packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
    margin: 0 0 2rem 0;
}

.packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 0;
    font-weight: bold;
}

.author{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.photo{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin: 1rem;
}

.info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.name{
    text-align: left;
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.date{
    text-align: left;
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(10, 10, 10, .4);
    padding: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .card-msg{
    width: 50rem;
    padding: 2rem;
    background: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn .5s linear backwards .2s;
}

.modal .card-msg .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    height: 10rem;
    margin-top: 1.5rem;
}

.modal .card-msg .flex p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
    line-height: 2;
    padding: 1rem 0;
    text-align: center;
}

.modal .card-msg .btn-group{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal .card-msg .btn-group .btn{
    width: 30%;
    display: inline-block;
    background: var(--black);
    margin: 2rem 0;
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: .5s;
}

.modal .card-msg .btn-group .btn:hover{
    background: var(--main-color);
}

@keyframes fadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

@media (max-width: 450px) {
    .packages .box-container .box .content p{
        font-size: 1.5rem;
    }
    .container{
        align-items: center;
        flex-direction: column;
        padding: 5rem 4rem;
    }
    .page{
        padding: 0;
        width: 90%;
        margin: 10rem 0;
        align-items: center;
    }
    .btn{
        width: 70%;
    }
}

@media (max-width: 991px) {
    section{
        padding: 0;
    }
    .packages .box-container .box .content p{
        font-size: 1.5rem;
    }
    .container{
        align-items: center;
        flex-direction: column;
        padding: 5rem 10rem;
    }
    .page{
        padding: 0;
        width: 90%;
        margin: 10rem 0;
        align-items: center;
        justify-content: center;
    }
    .btn{
        width: 70%;
    }
}

@media (max-width: 1200px) {
    section{
        padding: 0;
    }
    .packages .box-container .box .content p{
        font-size: 1.5rem;
    }
    .container{
        align-items: center;
        flex-direction: column;
        padding: 5rem 10rem;
    }
}