<!-- Not Found Section Start -->

<section>
    <div class="heading" id="head">
        <h1>Page not found</h1>
        <div class="btn-group">
            <a (click)="goHome()" class="btn">Home</a>
        </div>
    </div>
    <div class="cite">
        <div class="profile">
            <div class="content">
                <h1 class="text-title">404</h1>
                <p class="text">¡Lo sentimos! Esta página no la hemos encontrado</p>
                <span class="autor">¡Intenta con una nueva búsqueda!</span>
            </div>
        </div>
    </div>
</section>

<!-- Not Found Section Start -->