<!-- Article Section Start -->

<div class="container">

    <section class="packages">

        <div class="box-container">

            <section class="offer">
                <div class="home-offer">
                    <div class="content">
                        <h3>¡No te arrepentirás!</h3>
                        <div class="author">
                            <div class="photo"></div>
                            <div class="info">
                                <span class="name">
                                    Alexander Maestre
                                </span>
                                <span class="date">
                                    3 Mayo, 2022
                                </span>
                            </div>
                        </div>
                        <p class="introduction">
                            Embárcate en una aventura sin igual con A-Travels.
                            Descubre la belleza natural, la diversidad cultural y
                            la hospitalidad colombiana en cada rincón del país.
                            ¡Permítenos ser tu guía mientras exploras las maravillas de Colombia!
                        </p>
                        <div class="box">
                            <div class="image">
                                <h5>Índice</h5>
                            </div>
                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                    <li>
                                        <a href="">Lorem ipsum dolor sit amet.</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="article-content">
                            <h4 class="title-content">Introducción</h4>
                            <p class="text-content">
                                Embárcate en una aventura sin igual con A-Travels.
                                Descubre la belleza natural, la diversidad cultural y
                                la hospitalidad colombiana en cada rincón del país.
                                ¡Permítenos ser tu guía mientras exploras las maravillas de Colombia!
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Exercitationem, ducimus molestias quaerat saepe alias, 
                                ipsum quasi sit rerum enim esse repellat repellendus 
                                temporibus itaque, quas molestiae deleniti ipsa ipsam? Ad?
                            </p>
                            <div id="img-1"></div>
                            <p class="text-content">
                                Embárcate en una aventura sin igual con A-Travels.
                                Descubre la belleza natural, la diversidad cultural y
                                la hospitalidad colombiana en cada rincón del país.
                                ¡Permítenos ser tu guía mientras exploras las maravillas de Colombia!
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Exercitationem, ducimus molestias quaerat saepe alias, 
                                ipsum quasi sit rerum enim esse repellat repellendus 
                                temporibus itaque, quas molestiae deleniti ipsa ipsam? Ad?
                            </p>
                            <div id="img-2"></div>
                        </div>
                        <div class="article-content">
                            <h4 class="title-content">Desarrollo</h4>
                            <p class="text-content">
                                Embárcate en una aventura sin igual con A-Travels.
                                Descubre la belleza natural, la diversidad cultural y
                                la hospitalidad colombiana en cada rincón del país.
                                ¡Permítenos ser tu guía mientras exploras las maravillas de Colombia!
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Exercitationem, ducimus molestias quaerat saepe alias, 
                                ipsum quasi sit rerum enim esse repellat repellendus 
                                temporibus itaque, quas molestiae deleniti ipsa ipsam? Ad?
                            </p>
                            <div id="img-1"></div>
                            <p class="text-content">
                                Embárcate en una aventura sin igual con A-Travels.
                                Descubre la belleza natural, la diversidad cultural y
                                la hospitalidad colombiana en cada rincón del país.
                                ¡Permítenos ser tu guía mientras exploras las maravillas de Colombia!
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Exercitationem, ducimus molestias quaerat saepe alias, 
                                ipsum quasi sit rerum enim esse repellat repellendus 
                                temporibus itaque, quas molestiae deleniti ipsa ipsam? Ad?
                            </p>
                            <div id="img-2"></div>
                        </div>
                        <h4 class="title-article">Artículos similares</h4>
                        <div class="other-posts">
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_1"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_2"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_3"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_4"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="title-article">Artículos recomendados</h4>
                        <div class="other-posts">
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_1"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_2"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_3"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <div class="img" id="image_4"></div>
                                </div>
                                <div class="content">
                                    <h3>Historias de usuario</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Obcaecati ipsum quae magnam doloribus architecto 
                                        laudantium nobis aspernatur dolores sequi dolorum.
                                    </p>
                                    <div class="author">
                                        <div class="photo"></div>
                                        <div class="info">
                                            <span class="name">
                                                Alexander Maestre
                                            </span>
                                            <span class="date">
                                                3 Mayo, 2022
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="title-article">Comenta</h4>
                        <section class="booking">
                            <form method="post" class="book-form">
                                <div class="flex">
                                    <div class="inputBox">
                                        <span>Nombre :</span>
                                        <input type="text" placeholder="Ingresa tu nombre" name="name">
                                    </div>
                                    <div class="inputBox">
                                        <span>Correo electrónico :</span>
                                        <input type="email" placeholder="Ingresa tu correo electrónico" name="email">
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="inputBox">
                                        <span>Comentario :</span>
                                        <textarea name="message" class="message" id="msg"></textarea>
                                    </div>
                                </div>
                                <input type="submit" value="Enviar comentario" class="btn" name="send">
                            </form>
                        </section>

                        <div class="comments">

                            <div class="comment">
                                <div class="author">
                                    <div class="photo"></div>
                                    <div class="info">
                                        <span class="name">
                                            Alexander Maestre
                                        </span>
                                        <span class="date">
                                            3 Mayo, 2022
                                        </span>
                                    </div>
                                </div>
                                <div class="text-comment">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur 
                                        adipisicing elit. Ducimus, illo.
                                    </p>
                                </div>
                            </div>

                            <div class="comment">
                                <div class="author">
                                    <div class="photo"></div>
                                    <div class="info">
                                        <span class="name">
                                            Alexander Maestre
                                        </span>
                                        <span class="date">
                                            3 Mayo, 2022
                                        </span>
                                    </div>
                                </div>
                                <div class="text-comment">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur 
                                        adipisicing elit. Ducimus, illo.
                                    </p>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </section>

        </div>

    </section>


    <div class="page">
        <app-lateral-menu></app-lateral-menu>
    </div>

</div>

<!-- Article Section End -->