
<!-- Booking Section Start -->

<section class="booking">

    <h1 class="heading-title">Contáctanos</h1>

    <form method="post" class="book-form">

        <div class="flex">
            <div class="inputBox">
                <span>Nombre :</span>
                <input type="text" placeholder="Ingresa tu nombre" name="name">
            </div>
            <div class="inputBox">
                <span>Asunto :</span>
                <input type="text" placeholder="Asunto" name="subject">
            </div>
            <div class="inputBox">
                <span>Correo electrónico :</span>
                <input type="email" placeholder="Ingresa tu correo electrónico" name="email">
            </div>
        </div>

        <div class="flex">
            <div class="inputBox">
                <span>Mensaje :</span>
                <textarea name="message" class="message" id="msg"></textarea>
            </div>
        </div>

        <input type="submit" value="Enviar" class="btn" name="send">

    </form>

</section>

<!-- Booking Section End -->