
<!-- Contact Section Start -->

<section id="head">
    <div class="heading" id="head-img">
        <h1>Contáctanos</h1>
        <p>
            Si deseas seguirme o conocerme un poco más, 
            puedes hacerlo a través de alguna de las redes 
            sociales en la sección de abajo. Si deseas 
            contactar conmigo o hacerme alguna sugerencia 
            puedes enviarme un mensaje a través del formulario.
        </p>
        <a  [routerLink]='"."' fragment="formulario" id="btn">Ir al formulario</a>
    </div> 
    <div class="cite">
        <div class="content">
            <div class="box">
                <a href="https://ajmaestre.github.io/portfolio/home" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="https://github.com/ajmaestre" target="_blank"><i class="fab fa-github"></i> Github</a>
                <a href="https://www.linkedin.com/in/ajmaestre" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="https://www.linkedin.com/in/ajmaestre" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </div>
</section>

<section class="booking" id="formulario">

    <form method="post" class="book-form">

        <div class="flex">
            <div class="inputBox">
                <span>Nombre :</span>
                <input type="text" placeholder="Ingresa tu nombre" name="name">
            </div>
            <div class="inputBox">
                <span>Asunto :</span>
                <input type="text" placeholder="Asunto" name="subject">
            </div>
            <div class="inputBox">
                <span>Correo electrónico :</span>
                <input type="email" placeholder="Ingresa tu correo electrónico" name="email">
            </div>
        </div>

        <div class="flex">
            <div class="inputBox">
                <span>Mensaje :</span>
                <textarea name="message" class="message" id="msg"></textarea>
            </div>
        </div>

        <input type="submit" value="Enviar" class="btn" name="send">

    </form>

</section>

<!-- Contact Section End -->