
.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

section{
    padding: 7rem 2% 2rem 5%;
}

.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 3rem;
}

.packages .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: inline-block;
    cursor: pointer;
    transition: 1s;
}

.packages .box-container .box:hover .image .img{
    transform: scale(1.1);
}

.packages .box-container .box .image{
    height: 20rem;
    overflow: hidden;
}

.packages .box-container .box .image .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s linear;
}

#image_1{
    background: url(../../../assets/images/matrix.jpg);
    background-size: cover;
}

#image_2{
    background: url(../../../assets/images/monitor-1.jpg);
    background-size: cover;
}

#image_3{
    background: url(../../../assets/images/website-1.png);
    background-size: cover;
}

#image_4{
    background: url(../../../assets/images/program-2.jpg);
    background-size: cover;
}

#image_5{
    background: url(../../../assets/images/world-1.jpg);
    background-size: cover;
}

#image_6{
    background: url(../../../assets/images/ai-1.jpg);
    background-size: cover;
}

#image_7{
    background: url(../../../assets/images/website-2.png);
    background-size: cover;
}

#image_8{
    background: url(../../../assets/images/source-1.jpg);
    background-size: cover;
}

#image_9{
    background: url(../../../assets/images/laptop-3.jpg);
    background-size: cover;
}

.packages .box-container .box .content{
    padding: 2rem;
    text-align: left;
}

.packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
    margin: 0;
}

.packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

.load-more{
    text-align: center;
    margin: 2rem 0 20rem 0;
    width: 100%;
}

.btn{
    width: 20%;
    display: inline-block;
    background: var(--black);
    margin: 2rem 0;
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: .5s;
}

.btn:hover{
    background: var(--main-color);
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.author{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.photo{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    background: url(../../../assets/images/foto.jpeg);
    background-size: cover;
    background-position: center;
}

.info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.name{
    text-align: left;
    color: var(--main-color);
    font-size: 1.3rem;
}

.date{
    text-align: left;
    color: var(--light-black);
    font-size: 1.3rem;
}

.page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    padding: 7rem 5% 7rem 2%;
}

@media (max-width: 450px) {
    .packages .box-container .box .content p{
        font-size: 1.5rem;
    }
    .container{
        align-items: center;
        flex-direction: column;
        padding: 5rem 4rem;
    }
    .page{
        padding: 0;
        width: 90%;
        margin: 10rem 0;
        align-items: center;
    }
    .btn{
        width: 70%;
    }
}

@media (max-width: 991px) {
    section{
        padding: 0;
    }
    .packages .box-container .box .content p{
        font-size: 1.5rem;
    }
    .container{
        align-items: center;
        flex-direction: column;
        padding: 5rem 10rem;
    }
    .page{
        padding: 0;
        width: 90%;
        margin: 10rem 0;
        align-items: center;
        justify-content: center;
    }
    .btn{
        width: 70%;
    }
}

@media (max-width: 1200px) {
    section{
        padding: 0;
    }
    .packages .box-container .box .content p{
        font-size: 1.5rem;
    }
    .container{
        align-items: center;
        flex-direction: column;
        padding: 5rem 10rem;
    }
}