<!-- Blog Section Start -->

<div class="container">

    <section class="packages">

        <div class="box-container">
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_1"></div>
                </div>
                <div class="content">
                    <h3>Historias de usuario</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Obcaecati ipsum quae magnam doloribus architecto 
                        laudantium nobis aspernatur dolores sequi dolorum.
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_2"></div>
                </div>
                <div class="content">
                    <h3>Testing</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Aperiam ex animi pariatur in. Consectetur adipisci tenetur 
                        ipsum molestias atque maiores.
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_3"></div>
                </div>
                <div class="content">
                    <h3>Metodologías agiles</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Architecto modi voluptatem eum eveniet nulla inventore 
                        eaque blanditiis consectetur sed tenetur.
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_4"></div>
                </div>
                <div class="content">
                    <h3>Linux: introducción</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Laborum eveniet error maiores reiciendis, odio nobis et 
                        distinctio harum ipsam atque.
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_5"></div>
                </div>
                <div class="content">
                    <h3>Estructuras de datos</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Asperiores nostrum quia officiis recusandae iusto necessitatibus, 
                        illo error sequi neque et!
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_6"></div>
                </div>
                <div class="content">
                    <h3>Polimorfismo</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Perferendis, nesciunt ex! Eveniet, ab ipsam architecto 
                        quisquam similique vero dolorem. Nam?
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_7"></div>
                </div>
                <div class="content">
                    <h3>Herencia</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Dolores aliquid praesentium suscipit ipsum modi ullam sit? 
                        Corrupti doloremque tenetur quod!
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_8"></div>
                </div>
                <div class="content">
                    <h3>POO</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Dolore corrupti consequatur molestiae asperiores nobis at. 
                        Debitis aliquid quo officia itaque! 
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="box" (click)="showArticle()">
                <div class="image">
                    <div class="img" id="image_9"></div>
                </div>
                <div class="content">
                    <h3>Manejo de excepciones</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Labore at maxime delectus quidem repellat est rerum 
                        ullam minima facilis eveniet.
                    </p>
                    <div class="author">
                        <div class="photo"></div>
                        <div class="info">
                            <span class="name">
                                Alexander Maestre
                            </span>
                            <span class="date">
                                3 Mayo, 2022
                            </span>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        
    </section>
    
    
    <div class="page">
        <app-lateral-menu></app-lateral-menu>
    </div>

</div>

<div class="load-more"><span class="btn">Leer más artículos</span></div>

<!-- Blog Section End -->