
.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

section{
    padding: 7rem 2% 2rem 5%;
}

.page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    padding: 7rem 5% 7rem 2%;
}
