<!-- About Section Start -->

<section id="head">
    <div class="heading" id="head-img">
        <div id="photo"></div>
        <!-- <img src="" alt="Foto de perfil del administrador" class="photo"> -->
        <p>
            Soy un estudiante de último semestre de Ingeniería de Sistemas
            apasionado por el mundo de la tecnología y las ciencias.
            Desde muy joven, me ha fascinado la electrónica, la física y las matemáticas,
            encontrando en ellas una fuente inagotable de retos y descubrimientos.
            Además, no solo me limito al ámbito técnico, también tengo un profundo
            amor por la literatura y he disfrutado de obras como
            "El Conde de Montecristo", "Crónica de una muerte anunciada" y
            "Veinte mil leguas de viaje submarino".
        </p>
    </div>
    <div class="cite">
        <div class="content">
            <p class="text">
                En este blog, comparto mi conocimiento y experiencia en una variedad de temas.
                En términos de habilidades técnicas, me considero un apasionado del desarrollo web
                y la programación. Poseo experiencia en lenguajes como HTML, CSS, JavaScript,
                TypeScript, Java y C++, y me siento cómodo trabajando con conceptos de
                Programación Orientada a Objetos (POO), programación funcional y algoritmia. 
            </p>
        </div>
    </div>
</section>

<section class="resume">

    <h5>Algo más sobre mí</h5>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Además, he trabajado con bases de datos como MySQL, MongoDB, PostgreSQL y Oracle,
                y estoy familiarizado con metodologías ágiles para la gestión de proyectos.
                Me encanta explorar nuevas tecnologías y mantenerme actualizado en el campo
                de la ingeniería de software.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                En este blog, encontrarás una mezcla de artículos técnicos, tutoriales,
                consejos prácticos y reflexiones sobre los temas que me apasionan.
                Mi objetivo es compartir mi conocimiento de una manera accesible y
                ayudar a los lectores a comprender conceptos complejos de manera sencilla.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Estoy emocionado de embarcarme en esta aventura contigo, y espero
                que encuentres valor en los contenidos que comparto.
                No dudes en dejarme tus comentarios, sugerencias o preguntas,
                ya que la interacción con los lectores es algo que valoro enormemente.
            </p>
        </div>
    </div>

</section>

<section class="resume motivaciones">

    <h5>Mis motivaciones</h5>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Una de las principales razones por las que decidí crear este blog
                es utilizar el proceso de compartir mi conocimiento como una práctica
                constante para mejorar mis habilidades y, por supuesto, aprender y
                descubrir temas desconocidos.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Creo firmemente que la mejor manera
                de afianzar el conocimiento es transmitiéndolo a los demás, y
                este blog es el espacio perfecto para hacerlo.
                Compartir lo que sé no solo me ayuda a reforzar mis
                fundamentos en los temas que abordo, sino que también me impulsa a
                mantenerme actualizado y en constante aprendizaje.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                A medida que
                investigo y profundizo en nuevos conceptos, tengo la oportunidad
                de expandir mi horizonte y adquirir conocimientos en áreas que tal
                vez no haya explorado previamente.
            </p>
        </div>
    </div>

</section>

<section class="resume motivaciones">

    <h5>Más motivaciones</h5>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Además, al interactuar con los lectores y recibir sus comentarios y preguntas,
                tengo la oportunidad de entender sus perspectivas y necesidades.
                Esto me motiva a investigar más, abordar nuevos temas y brindar
                contenido relevante y útil para la comunidad del blog.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Creo firmemente en la importancia de la colaboración y el intercambio de ideas.
                Mi objetivo es crear un entorno en el que los lectores se sientan inspirados a
                aprender, compartir sus propias experiencias y contribuir a la discusión
                enriquecedora sobre los temas que abordo.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Juntos, podemos crear una comunidad
                en la que todos podamos crecer y desarrollarnos.
                Así que te invito a unirte a mí en este viaje de aprendizaje y descubrimiento.
                Estoy emocionado por lo que el futuro tiene reservado y espero poder brindarte
                contenido valioso que te inspire y te ayude en tu propio camino de conocimiento.
            </p>
        </div>
    </div>

</section>

<section class="packages">

    <h5>Que podrás encontrar en este blog</h5>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-code></app-code>
                </div>
                <p>Programación</p>
            </div>
            <div class="content">
                <p>
                    Exploraremos conceptos, 
                    técnicas y mejores prácticas en el desarrollo de aplicaciones web. 
                    Abordaré lenguajes como HTML, CSS, JavaScript, TypeScript, y 
                    los frameworks Angular y Node.js.
                </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-database></app-database>
                </div>
                <p>Bases de datos</p>
            </div>
            <div class="content">
                <p>
                    Te guiaré a 
                    través de los fundamentos de las bases de datos relacionales 
                    como MySQL, PostgreSQL, Oracle, así como las bases de datos 
                    no relacionales como MongoDB y Firebase. 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-data-analysis></app-data-analysis>
                </div>
                <p>Análisis de datos</p>
            </div>
            <div class="content">
                <p>
                    Exploraremos técnicas y herramientas para 
                    el análisis de datos, incluyendo procesos ETL (Extract, Transform, Load), 
                    diseño de Data Warehouses, limpieza y preparación de datos. 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-algorithm></app-algorithm>
                </div>
                <p>Algoritmia</p>
            </div>
            <div class="content">
                <p>
                    Exploraremos el mundo de los algoritmos y las estructuras de datos. 
                    Te guiaré a través de la resolución de problemas, el diseño de algoritmos 
                    eficientes y su implementación en pseudocódigo o diagramas de flujo (DFD).
                </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-responsive></app-responsive>
                </div>
                <p>Diseño Responsivo</p>
            </div>
            <div class="content">
                <p>
                    El diseño responsivo es fundamental en el desarrollo web moderno. 
                    Cubriré conceptos y estrategias para crear sitios web y 
                    aplicaciones que se adapten a diferentes dispositivos y tamaños de pantalla. 
                </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-fixed></app-fixed>
                </div>
                <p>Algún otro tema</p>
            </div>
            <div class="content">
                <p>
                    Exploraremos conceptos matemáticos y físicos relevantes para 
                    la programación y el análisis de datos. También abordaré temas 
                    relacionados con la electrónica, como circuitos básicos y componentes electrónicos.
                </p>
            </div>
        </div>

    </div>

</section>

<section class="conclusion">
    <div class="cite">
        <div class="content">
            <p class="text">
                Mi objetivo es proporcionarte un contenido variado y enriquecedor 
                que amplíe tu conocimiento en diferentes áreas relacionadas con la 
                ingeniería y más allá. Creo firmemente en la interdisciplinariedad 
                y en la importancia de tener una visión amplia y holística de los temas técnicos.
            </p>
            <p class="text">
                ¡Espero que encuentres interesante la diversidad de temas 
                que cubriré en el blog y que te sea útil para tu crecimiento profesional y personal!
            </p>
            <a routerLink="../subscription-user" class="btn">Suscríbete</a>
        </div>
    </div>
</section>

<!-- About Section End -->