
<!-- Header Section Start -->

<section [class]="class_header">

    <a routerLink="home" class="logo">Enginerds</a>

    <nav [class]="class_navbar">
        <a routerLink="home-user">Inicio</a>
        <a routerLink="beginner-user">¿Primera vez?</a>
        <a routerLink="subscription-user">Suscríbete</a>
        <a routerLink="blog-user">Blog</a>
        <a routerLink="about-user">Sobre mí</a>
        <a routerLink="contact-user">Contáctanos</a>
    </nav>

    <div id="menu-btn" [class]="class_menu" (click)="showMenu()"></div>

</section>

<!-- Header Section End -->