<!-- Header Section Start -->

<section>
    <div class="heading" id="head">
        <h1>¡Bienvenido a Engineerds!</h1>
        <p>
            Aquí encontrarás un espacio dedicado a explorar
            el fascinante universo de la programación,
            el desarrollo de software y todas las maravillas
            que rodean este campo en constante evolución.
        </p>
        <div class="btn-group">
            <a routerLink="../beginner-user" class="btn">Conócenos</a>
            <a routerLink="../subscription-user" class="btn">Suscríbete</a>
        </div>
    </div>
    <div class="cite">
        <div class="profile">
            <div id="photo"></div>
            <div class="content">
                <p class="text">"No sabemos nada, pero buscamos contar todo"</p>
                <span class="autor">Alexander Maestre, creador de Engineerds</span>
            </div>
        </div>
    </div>
</section>

<section class="packages">

    <div class="box-container">

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-who></app-who>
                </div>
                <p>¿Para quién?</p>
            </div>
            <div class="content">
                <p>
                    No importa si eres un estudiante de ingeniería de software
                    en busca de conocimientos, un profesional experimentado en
                    busca de consejos útiles o simplemente alguien interesado en
                    conocer más sobre este apasionante campo.
                </p>
                <p>
                    ¡Este blog está diseñado para ti!
                </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-support></app-support>
                </div>
                <p>¿Para qué?</p>
            </div>
            <div class="content">
                <p>
                    En este viaje desconocido, emocionante y educativo
                    exploraremos juntos las últimas tendencias tecnológicas,
                    compartiremos ideas valiosas y debatiremos sobre los desafíos y
                    oportunidades que enfrenta la industria de la ingeniería de software.
                </p>
                <p>
                    ¡Te invitamos a unirte a nosotros!
                </p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <div class="image-group">
                    <app-avatar></app-avatar>
                </div>
                <p>¿Por qué?</p>
            </div>
            <div class="content">
                <p>
                    Al interactuar con los lectores y recibir sus comentarios y preguntas,
                    tengo la oportunidad de mejorar mis habilidades y descubrir temas desconocidos.
                    Prepárate para expandir tus horizontes y sumergirte en
                    el apasionante mundo de la ingeniería de software.
                </p>
                <p>
                    ¡Bienvenidos a nuestro blog!
                </p>
            </div>
        </div>

    </div>

</section>

<section class="articles">
    <h4 class="title-article">Artículos recomendados</h4>
    <div class="other-posts">
        <div class="box">
            <div class="image">
                <div class="img" id="image_1"></div>
            </div>
            <div class="content">
                <h3>Historias de usuario</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Obcaecati ipsum quae magnam doloribus architecto
                    laudantium nobis aspernatur dolores sequi dolorum.
                </p>
                <div class="author">
                    <div class="photo"></div>
                    <div class="info">
                        <span class="name">
                            Alexander Maestre
                        </span>
                        <span class="date">
                            3 Mayo, 2022
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <div class="img" id="image_2"></div>
            </div>
            <div class="content">
                <h3>Historias de usuario</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Obcaecati ipsum quae magnam doloribus architecto
                    laudantium nobis aspernatur dolores sequi dolorum.
                </p>
                <div class="author">
                    <div class="photo"></div>
                    <div class="info">
                        <span class="name">
                            Alexander Maestre
                        </span>
                        <span class="date">
                            3 Mayo, 2022
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <div class="img" id="image_3"></div>
            </div>
            <div class="content">
                <h3>Historias de usuario</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Obcaecati ipsum quae magnam doloribus architecto
                    laudantium nobis aspernatur dolores sequi dolorum.
                </p>
                <div class="author">
                    <div class="photo"></div>
                    <div class="info">
                        <span class="name">
                            Alexander Maestre
                        </span>
                        <span class="date">
                            3 Mayo, 2022
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <div class="img" id="image_4"></div>
            </div>
            <div class="content">
                <h3>Historias de usuario</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Obcaecati ipsum quae magnam doloribus architecto
                    laudantium nobis aspernatur dolores sequi dolorum.
                </p>
                <div class="author">
                    <div class="photo"></div>
                    <div class="info">
                        <span class="name">
                            Alexander Maestre
                        </span>
                        <span class="date">
                            3 Mayo, 2022
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a routerLink="../blog-user" class="btn">Leer más</a>
</section>

<!-- Header Section End -->


