
<!-- Header Section Start -->

<section>
    <div class="heading" id="head">
        <h1>¡Bienvenido a Enginerds!</h1>
        <p>
            Aquí encontrarás un espacio dedicado a explorar 
            los fascinantes temas de la programación, 
            el desarrollo de software y todas las maravillas 
            que rodean este campo en constante evolución.
        </p>
        <div class="btn-group">
            <a routerLink="../beginner-user" class="btn">Conócenos</a>
            <a routerLink="../subscription-user" class="btn">Suscríbete</a>
        </div>
    </div>
    <div class="cite">
        <div id="photo"></div>
        <div class="content">
            <p class="text">"No sabemos nada, pero buscamos contar todo"</p>
            <span class="autor">Alexander Maestre, creador de Enginerds</span>
        </div>
    </div>
</section>

<!-- Header Section End -->