
<!-- Page Admin  Section Start -->

<div class="container">

    <section class="booking" id="formulario">

        <div class="box">
            <div class="image">
                <!-- <img [src]="imageUrl" *ngIf="user.image" alt="" class="photo"> -->
                <i class="fas fa-image photo"></i>
                <div class="file-box" id="file-img" >
                    <input type="file" name="file-img" aria-label="Cambiar foto" (change)="onLoad($event)">
                </div>
            </div>
            <div class="content">
                <h3>Title</h3>
                <div class="author">
                    <div class="info">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Dolor similique saepe corrupti deleniti doloribus, 
                            esse facilis veritatis veniam voluptatum velit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <form class="book-form">

            <div class="btn-more">
                <a (click)="showSubMenu()"><i class="fas fa-stream"></i></a>   
            </div>

            <div [class]="class_submenu">
                <a >Píe de página</a>
                <a >Cards</a>
                <a >Articulos recomendados</a>
            </div>   
    
            <div class="flex">
                <div class="inputBox">
                    <span>Título :</span>
                    <input type="text" placeholder="Ingresa el título">
                </div>
                <div class="flex">
                    <div class="inputBox">
                        <span>Contenido :</span>
                        <textarea name="message" class="message" id="msg"></textarea>
                    </div>
                </div>
                <!-- <div class="inputBox">
                    <span>Contraseña :</span>
                    <input type="password" placeholder="Ingresa la contraseña" formControlName="password">
                </div> -->
            </div>
    
            <div class="btn-group">
                <div class="alert">
                    <!-- <p *ngIf="alertShowed">Las contraseñas no coinciden</p> -->
                </div>
                <button type="submit" class="btn">Actualizar</button>
            </div>
    
        </form>
    
    </section>
        
</div>


<!-- Page Admin Section End -->