<!-- Subscription Section Start -->

<section id="head">
    <div class="heading" id="head-img">
        <p>
            La mayoría del contenido en este blog es de carácter 
            gratuito y sin necesidad de suscripciones, 
            pero algunos materiales exclusivos solo están 
            disponibles para aquellos que estén suscritos, 
            como también el derecho a comentar los diferentes 
            artículos disponibles. Por lo tanto, si quieres 
            disfrutar de algunos de estos beneficios te 
            invitamos a unirte a nuestra comunidad.
        </p>
    </div>
</section>

<div class="container">

    <section class="packages">

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <app-free></app-free>
                    <p>Gratis</p>
                </div>
                <div class="content">
                    <h3>0$</h3>
                    <p>
                        Únete ahora y obtén acceso exclusivo a contenido de calidad sin costo alguno.
                    </p>
                    <ul>
                        <li>
                            Artículos, noticias y publicaciones.
                        </li>
                        <li>
                            Notificaciones por correo electrónico.
                        </li>
                        <li>
                            Comentar en los artículos.
                        </li>
                        <li>
                            Descargas gratuitas de ciertos recursos.
                        </li>
                    </ul>
                    <a routerLink="../register-user" class="btn">Acceder</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <app-limit></app-limit>
                    <p>Limitada</p>
                </div>
                <div class="content">
                    <h3>3$</h3>
                    <p>
                        Obtén acceso a todo el contenido durante 30 días por un pago único. 
                    </p>
                    <ul>
                        <li>
                            Artículos, publicaciones y recursos.
                        </li>
                        <li>
                            Descargas de guías, ebooks y otros materiales.
                        </li>
                        <li>
                            La posibilidad de solicitar temas específicos para futuros artículos.
                        </li>
                    </ul>
                    <a routerLink="../beginner-user" class="btn">Acceder</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <app-ilimit></app-ilimit>
                    <p>Ilimitada</p>
                </div>
                <div class="content">
                    <h3>1$<sub>/mes</sub></h3>
                    <p>
                        Acceso ilimitado a todo el contenido exclusivo del blog por tan solo $1 al mes.
                    </p>
                    <ul>
                        <li>
                            Artículos, publicaciones y recursos en cualquier momento.
                        </li>
                        <li>
                            Descargas de ebooks, plantillas y recursos exclusivos.
                        </li>
                        <li>
                            Cancela en cualquier momento.
                        </li>
                    </ul>
                    <a routerLink="../beginner-user" class="btn">Acceder</a>
                </div>
            </div>

        </div>

    </section>

</div>

<!-- Subscription Section End -->