<!-- Subscription Section Start -->

<div class="container">

    <section class="packages">

        <h1 class="heading-title">Suscríbete</h1>

        <div class="box-container">
    
            <div class="box">
                <div class="image">
                    <div class="img" id="image_1">
                        <h2>Gratis</h2>
                    </div>
                </div>
                <div class="content">
                    <h3>0$</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Aperiam ex animi pariatur in. 
                    </p>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <a routerLink="../beginner-user" class="btn">Acceder</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <div class="img" id="image_2">
                        <h2>Limitada</h2>
                    </div>
                </div>
                <div class="content">
                    <h3>3$</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Aperiam ex animi pariatur in. 
                    </p>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <a routerLink="../beginner-user" class="btn">Acceder</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <div class="img" id="image_3">
                        <h2>Ilimitada</h2>
                    </div>
                </div>
                <div class="content">
                    <h3>1$<sub>/mes</sub></h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Aperiam ex animi pariatur in. 
                    </p>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                    <a routerLink="../beginner-user" class="btn">Acceder</a>
                </div>
            </div>
    
        </div>
        
    </section>

</div>

<!-- Subscription Section End -->