
<!-- Header Section Start -->

<section>
    <div class="heading" id="head">
        <h1>Conócenos</h1>
        <p>
            Aquí encontrarás artículos informativos, tutoriales prácticos 
            y todo con el objetivo de ayudarte a comprender mejor los aspectos 
            clave de la ingeniería de software.
        </p>
        <div class="btn-group">
            <a [routerLink]='"."' fragment="resume" class="btn">Contenidos</a>
            <a [routerLink]='"."' fragment="benefits" class="btn">Beneficios</a>
        </div>
    </div>
    <div class="cite">
        <div class="content">
            <p class="text">
                Descubrirás cómo los ingenieros 
                de software crean soluciones innovadoras para satisfacer las 
                necesidades de la sociedad y cómo el proceso de desarrollo se 
                adapta a medida que las tecnologías avanzan.
            </p>
        </div>
    </div>
</section>

<section class="resume" id="resume">

    <h5>Contenidos del blog</h5>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Nuestro objetivo es proporcionarte contenido práctico y relevante 
                en ciertos temas de ingeniería de software. 
                Estamos aquí para ayudarte a ampliar tus conocimientos y habilidades 
                en temas como programación, bases de datos e incluso análisis de datos.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Además de los temas de ingeniería de software que mencionamos anteriormente, 
                también abordaremos otros temas relacionados con la algoritmia, 
                el diseño responsivo y quizás algunos campos no directamente relacionados con 
                la ingeniería de software, como las matemáticas, la física y la electrónica.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Buscamos proporcionarte un contenido variado y enriquecedor que amplíe tu 
                conocimiento en diferentes áreas relacionadas con la ingeniería y más allá. 
                Creo firmemente en la interdisciplinariedad y en la importancia de tener 
                una visión amplia y holística de los temas técnicos.
            </p>
        </div>
    </div>

</section>

<section class="resume benefits" id="benefits">

    <h5>Algunos beneficios</h5>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Aquí tendrás la oportunidad de aprender de forma continua. Podrás acceder 
                a artículos, tutoriales y guías que cubren una amplia 
                gama de temas relacionados con la ingeniería de software. 
                Esto te permitirá mantenerte actualizado sobre las últimas tendencias, 
                tecnologías y las mejores prácticas en el desarrollo de software.
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Abordaremos problemas comunes 
                que los desarrolladores enfrentan en su trabajo diario. Proporcionaremos 
                soluciones prácticas, consejos y trucos para superar esos desafíos. 
                Esto puede ahorrarte tiempo y esfuerzo, ya que 
                podrás encontrar respuestas y orientación útil para abordar situaciones específicas. 
            </p>
        </div>
    </div>

    <div class="anexo">
        <div class="content">
            <p class="text">
                Trataremos de cubrir una amplia gama de temas, 
                desde metodologías de desarrollo y arquitectura de software hasta 
                lenguajes de programación, frameworks, herramientas y técnicas de pruebas. 
                Podrás explorar diferentes áreas de interés y profundizar en 
                los temas que te resulten más relevantes.
            </p>
        </div>
    </div>

</section>

<section class="resume conclusion">
    <div class="cite">
        <div class="content">
            <p class="text">
                Esperamos ser una fuente de conocimiento 
                valiosa y relevante para los usuarios interesados en el campo. 
                Proporcionaremos aprendizaje continuo, soluciones prácticas, comunidad, 
                orientación profesional y acceso a recursos útiles. Estos beneficios 
                ayudarán a los desarrolladores a mejorar sus habilidades, resolver problemas 
                de manera eficiente y mantenerse actualizados en un campo en constante 
                evolución como la ingeniería de software.
            </p>
            <p class="text">
                ¡Espero que encuentres el contenido que ofreceré en el blog valioso 
                y enriquecedor para tu trayectoria en estos campos!
            </p>
            <a routerLink="../subscription-user" class="btn">Suscríbete</a>
        </div>
    </div>
</section>

<!-- Header Section End -->