
<!-- Header Section Start -->

<section>
    <div class="heading" id="head">
        <h1>Conócenos</h1>
        <p>
            Aquí encontrarás artículos informativos, tutoriales prácticos 
            y todo con el objetivo de ayudarte a comprender mejor los aspectos 
            clave de la ingeniería de software.
        </p>
        <a routerLink="../site" class="btn">Comenzar</a>
    </div>
    <div class="cite">
        <div class="content">
            <p class="text">
                Descubrirás cómo los ingenieros 
                de software crean soluciones innovadoras para satisfacer las 
                necesidades de la sociedad y cómo el proceso de desarrollo se 
                adapta a medida que las tecnologías avanzan.
            </p>
        </div>
    </div>
</section>

<!-- Header Section End -->