<!-- P & R Section Start -->

<section>
    <div class="heading" id="head">
        <h1>¿Necesitas ayuda?</h1>
        <div class="search">

            <form method="post" class="book-form">
    
                <div class="flex">
                    <div class="inputBox">
                        <div class="search-group">
                            <input type="text" placeholder="¿Cuál es tu pregunta?" name="name">
                            <a ><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
    
            </form>
    
        </div>
        <div class="btn-group">
            <a class="btn">Haz una pregunta</a>
        </div>
    </div>
    <div class="cite footer">
        <div class="box-container">

            <div class="box">
                <h3>Sobre la cuenta</h3>
                <a ><i class="fas fa-angle-right"></i> Inicio de sesión</a>
                <a ><i class="fas fa-angle-right"></i> Configuración de la cuenta</a>
                <a ><i class="fas fa-angle-right"></i> El perfil</a>
            </div>
    
            <div class="box">
                <h3>Sobre la subscripción</h3>
                <a routerLink="home-user"><i class="fas fa-angle-right"></i> ¿Cómo suscribirse?</a>
                <a routerLink="blog-user"><i class="fas fa-angle-right"></i> ¿Cómo cancelar mi suscripción?</a>
                <a routerLink="about-user"><i class="fas fa-angle-right"></i> Formas de pago</a>
            </div>

            <div class="box">
                <h3>Sobre los artículos</h3>
                <a routerLink="home-user"><i class="fas fa-angle-right"></i> ¿Cómo hacer sugerencias?</a>
                <a routerLink="blog-user"><i class="fas fa-angle-right"></i> Categorías</a>
            </div>

            <div class="box">
                <h3>Sobre los recursos</h3>
                <a routerLink="home-user"><i class="fas fa-angle-right"></i> ¿Cómo descargo?</a>
                <a routerLink="blog-user"><i class="fas fa-angle-right"></i> Recursos gratuitos</a>
                <a routerLink="about-user"><i class="fas fa-angle-right"></i> Categorías</a>
            </div>
    
        </div>

    </div>
</section>

<!-- P & R Section Start -->

